name: React CI/CD Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      API_KEY: ${{ secrets.API_KEY}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Build the Project
        run: npm run build

      - name: Upload Production Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: production-build
          path: dist/
  dast-scan:
    needs: build-and-test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci || npm install

      - name: Build app
        run: npm run build

      - name: Start preview server
        run: |
          npm run preview -- --host 0.0.0.0 --port 4173 &
          npx wait-on http://127.0.0.1:4173

      - name: Run OWASP ZAP Baseline Scan
        run: |
          docker run --network host -t owasp/zap2docker-stable             zap-baseline.py -t http://127.0.0.1:4173 -r zap-report.html || true

      - name: Upload ZAP report
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: zap-report.html
